<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.4.382" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.173" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net472" />
  <package id="SvgNet" version="1.0.8" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="20.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Net.Core" version="20.1.0.59" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
</packages>